
extends layout

block header
  h1 #{name} 

block summary
  p The only poll that matters.

block content
  div(class='panel panel-default')
    div.panel-heading
      | Tallying App
    div.panel-body
      p After a hard fought campaign it can be difficult to motivate oneself 
        | to carefully tally the ballots as they are verified out of the ballot 
        | box. However, this is most detailed polling data that you are ever 
        | likely to get access to being broken down on a polling district by 
        | polling district basis. 
      p Our app, currently only available for android, makes tallying easy. 
        | The elections running that day are known to it in advance and all that 
        | remains it to select the candidates you wish to tally for, upto a 
        | maximum of four (one per finger). Each candidate is clearly marked 
        | either with his parties default colour or with a custom colour chosen 
        | by you.
  div(class='panel panel-default')
    div.panel-heading
      | Live Reporting
    div.panel-body
      p The election agent assisted by her polling agents can quickly and 
        | easily aggregate the results across polling districts using accurately 
        | balanced models to predict which counts will be the closest and 
        | consequently which require the most scrutiny. 
      p Using our software dramatically reduces the probability of human error 
        | and the tendency to simply add up all the tallying completed without 
        | weighting according to known factors such as the verified vote count 
        | which can lead to heavy biases in favour of the polling districts 
        | monitored by well practised agents.
  div(class='panel panel-default')        
    div.panel-heading
      | Post Event Analysis
    div.panel-body
      p In large elections covered by 24 hour news it is important to enable 
        | party representatives to gauge the the results accurately so as not to 
        | appear overconfident in their analysis or expectation.
      p Our software supports a variety of export formats from raw CSV and 
        | Excel to easy to understand PDFs with charts and diagrams. If 
        | fortunate enough to be able to run the process over a number of years, 
        | and elections, this can make micro swings much easier to detect and 
        | bring local flash points to attention at the earliest stage.
