
extends layout

block header
  h1 #{name} 

block summary
  p Nimble software built to compete on quality.

block content
  div(class='panel panel-default')
    div.panel-heading
      | Who we are
    div.panel-body
      p Politics matters. In a world of increasingly complexity with 
        | government, at all levels, taking a larger and larger role in our 
        | lives there has never been a more important time to hold it to 
        | account. The only effective way to do this is through the election of 
        | competent candidates to political office and this can only be achieved 
        | through active campaigning. It doesn’t matter if you would be the most 
        | diligent member of parliament ever to seek election if no-one know who 
        | you are, what your strengths are and how you can help them.
      p Following involvement with several political parties with campaigns of 
        | all sizes we developed software to assist with the election process. 
        | Primarily focussed on assisting with the crucial administration that 
        | enables activists to spend more time doing what they really want to 
        | do, communicating with electorates and campaigning on issues that 
        | matter to them and the communities they wish to represent.
  div(class='panel panel-default')
    div.panel-heading
      | Open source
    div.panel-body
      p We charge for our services. We hope to make a profit from them and 
        | make no apologies for that. Our hope is that what we provide will be 
        | of sufficient benefit to you that you will feel that you are getting 
        | good value for money. However, we passionately believe in open 
        | sourcing our product and for that reason all the code we use is made 
        | available through github. 
      p We believe that this offers benefits for both you as a customer and us 
        | as sellers. Firstly, you have the guarantee that if you have an 
        | urgently required improvement you need not wait for our release 
        | schedule. Secondly, you have a guarantee that in the event we were to 
        | stop providing our services that you would be able to replicate them 
        | easily. Finally, it allows us to benefit from proposed improvements 
        | which are submitted to us to support and maintain.
  div(class='panel panel-default')        
    div.panel-heading
      | Political Neutrality
    div.panel-body
      p The software we have built has been primarily designed with the 
        | Conservative Party in mind. However, we passionately believe that 
        | politics delivers the best results when everyone is represented and 
        | making their best arguments. 
      p As passionate free marketeers we understand that choice is as 
        | important in political ideas as in the provision of goods and 
        | services. Consequently as a new entrant to the market ourselves we 
        | offer a further 50% reduction for our services to both independent 
        | candidates and political parties without paid representation in their 
        | constituency or local authority.
