
extends layout

block header
  h1 #{name} 

block summary
  p Knowing where you are going is half the battle.

block content
  div(class='panel panel-default')
    div.panel-heading
      | Route Maps
    div.panel-body
      p
        | Any new candidate for election will know that one of the most common 
        | ways of communicating with your future electorate is to deliver 
        | leaflets to them. Whether in the form of a newsletter, survey or 
        | street surgery invitation. It is also one of the easiest parts to 
        | delegate and unlike canvassing something most people taking their 
        | first steps into political activism are prepared to undertake.
      p
        | Even if you are campaigning on your own with leaflets printed off on 
        | your home PC the benefits to your own moral of a well segmented set 
        | of route maps, allowing you to easily mark progress, should not be 
        | underestimated. Further in the event you recruit any like minded 
        | activists, friends or receive mutual aid from fellow candidates in 
        | neighbouring areas it is much easier to delegate with clearly marked 
        | and easy to read maps which can be customised to use a limited number 
        | of meeting points and finishing locations.
  div(class='panel panel-default')
    div.panel-heading
      | Data Sources
    div.panel-body
      p
        | We have built our software on top of data openly provided by the 
        | valuations office agency and the Ordnance Survey through their open 
        | data program. The VOA data is used to establish a list of dwellings 
        | for the electoral area you are looking to deliver in while the 
        | Ordnance Survey is used to establish electoral boundaries and the 
        | location of these dwellings. 
      p
        | With our standard maps dwellings are grouped on a per postcode basis. 
        | However, the Ordnance Survey can provide data on the location of 
        | individual dwellings, which makes for far superior route maps, for a 
        | fee. Unfortunately due to their pricing structure the minimum charge 
        | is £500 which is usually enough to cover an area the size of two 
        | constituencies. As this is a charge levied by the Ordnance Survey we 
        | are unable to offer a discount on it.
  div(class='panel panel-default')        
    div.panel-heading
      | Tracking
    div.panel-body
      p 
        | When delegating leaflet delivery in an asynchronous way it can be very 
        | difficult to be sure that a leaflet route has been completed. A busy 
        | campaign manager can have difficulty confirming completion with every 
        | member of a Delivery Network Team individually and it is very easy for 
        | a simple misunderstanding to escalate into a full blown confrontation.
      p
        | For a small additional fee, or monthly rolling membership, we can 
        | provide an individual set of leaflet maps for each leaflet you intend 
        | to deliver. These contain a unique two-dimensional barcode, or 
        | QR-code, which when scanned on any modern smartphone allows the user 
        | to register any issues with the delivery route, i.e. “large dog at 
        | number 7 Church Street”, and then logs the GPS location and time at 
        | which it was scanned. This can easily be monitored by the campaign 
        | manager, candidate or election agent to get a real time picture of 
        | what has been completed.
