
extends layout

block header
  h1 #{name} 

block summary
  p Leveraging passion for the local community.

block content
  div(class='panel panel-default')
    div.panel-heading
      | Open Source Reporting
    div.panel-body
      p
        | Every time any of us walks the dog, travels to work or is otherwise 
        | out in our local community we can come into a wide variety of issues. 
        | From randomly occurring phenomena such as potholes and broken street 
        | lights to anti social behaviour such as graffiti and dog fouling. 
        | Often it can seem to be more hassle than it is for anyone to report 
        | such things. Worse, if the anti-social behaviour escalates and 
        | residents seek help organising a response action, they are often 
        | informed because nobody reported the Anti Social Behaviour they could 
        | live with nothing can be done now it has escalated.
      p
        | By building a service which allows any member of the public, with a 
        | minimal number of clicks on their smartphone, to report such issues, 
        | track their progress and forward them to the relevant elected 
        | officials, and potential candidates, we hope to improve this 
        | situation. 
  div(class='panel panel-default')
    div.panel-heading
      | Leveraging Experience
    div.panel-body
      p
        | Those seeking, and having successfully sought, political office are 
        | often the best people to cut through the malaise of officialdom, 
        | whether its due to the direct line to "Member's Services" at the 
        | council or simply the experience of having dealt with the same issue 
        | before political activists often know exactly who to talk to and what 
        | to say allowing them to help their electorate efficiently when asked.
      p
        | Following up on issues reported by the public can be a great way to 
        | recruit the civically minded to get involved in campaigning and 
        | elections. Those reporting litter and fly-tipping are more likely to 
        | be interested in action days revolving around cleaning up the local 
        | environment. Similarly those reporting graffiti and other anti-social 
        | behaviour are more likely to be interested in actions addressing these 
        | issues. We hope to facilitate communication about relevant local and 
        | national issues by connecting candidates directly with their 
        | electorate about specific issues of concern.
  div(class='panel panel-default')        
    div.panel-heading
      | Long Term Savings
    div.panel-body
      p
        | If successful we hope to ultimately make our service available in such 
        | a way as to remove allow substantial savings to be made via the the 
        | costs involved in monitoring. We have all witnessed the rise of 
        | Personal Injury claims over the last fifteen years. Assuming that the 
        | accident occured and the defect sufficient to justify a claim a large 
        | part of the legal case and, consequently, the  cost stems from proving 
        | whether or not the road or path had been inspected sufficiently 
        | recently or that the local authority had found out about it 
        | sufficienty long enough ago that they should have fixed it.
      p
        | Our approach of quick iteration, market competition and open source 
        | software should create a solution quickly delivered and for the 
        | benefit of all. We hope to develop a platform on which others can 
        | improve openly accepting that our implementation of a problem may not 
        | be the optimum solution.
